@import '../../assets/styles/base';

.authForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;

    &__button {
        border: 0;
        border-radius: 0.8rem;
        padding: 1rem 2.5rem;
        background-color: $light-orange-color;
        transition: background-color 0.3s ease-in-out;
        width: max-content;
        align-self: center;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 1rem;

        &:is(:active, :focus, :hover) {
            background-color: $dark-orange-color;

            .authForm__arrow {
                translate: 0.8rem;
            }
        }
    }

    &__arrow {
        transition: translate 0.3s ease-in-out;
    }
}
