@import '../../assets/styles/base';

.footer {
    background-color: $navy-color;

    &__main {
        margin: 0.7rem 1.5rem;
    }

    &__content {
        color: $white-color;
        display: grid;
        place-content: center;
        max-width: $content-container;
        margin-left: auto;
        margin-right: auto;
    }
}
