@import '../../assets/styles/base';

.formField {
    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__label {
        margin-bottom: 0.1rem;
        font-weight: 700;
        font-size: 1.8rem;
    }

    &__innerWrapper {
        position: relative;
    }

    &__icon {
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 1rem;
        translate: 0 -50%;
    }

    &__input {
        padding: 1.2rem;
        border-radius: 0.8rem;
        border-width: 0.1rem;
        width: 100%;
        padding-inline: 3.5rem;
    }

    &__error {
        color: $red-color;
    }
}
